<!DOCTYPE html>
<html lang="en">
    {% block head %}
        {% include 'LITReview/partials/head.html' %}
    {% endblock %}
<body>
    {% include 'LITReview/partials/header.html' %}
    {% block search %}
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post" action="{% url 'abonnements' %}" class="d-flex m-2">
            {% csrf_token %}
            {{ recherche_form }}
            <button type="submit" class="btn btn-primary" style="width: 25%">Rechercher</button>
        </form>
    {% endblock %}
    {% block abonnement %}
        <h2>Abonnements</h2>
        {% for user_follow in user_follows %}
        <form method="post" action="{% url 'abonnements' %}" class="d-flex m-2">
            {% csrf_token %}
            <input type="hidden" name="followed_user_id" value="{{ user_follow.followed_user.id }}">
            <input name="followed_user" value="{{ user_follow.followed_user }}" class="form-control">
            <button type="submit" class="btn btn-primary" style="width: 25%">Se désabonner</button>
        </form>
        {% endfor %}
    {% endblock %}
        {% comment %} {% block abonnes %}
            <h2>Abonnés</h2>
        {% endblock %} {% endcomment %}
    {% include 'LITReview/partials/footer.html' %}
</body>
</html>
