<!DOCTYPE html>
<html lang="en">
    {% include 'LITReview/partials/head.html' %}
<body>
    {% include 'LITReview/partials/header.html' %}
    <div class="container-fluid d-flex" style="justify-content: space-evenly; margin-block: 5%;">
            <!-- Bouton proposer une critique -->
        <div class="proposition">
            <button type="button" class="btn btn-dark">
                <a href="{% url 'demande_critique' %}" class="text-white">Demander une Critique</a>
        </button>
        </div>
        <!-- Bouton demander une critique -->
        <div class="demande">
            <button type="button" class="btn btn-dark">
                <a href="{% url 'demande_ticket' %}" class="text-white">Créer une Critique</a>
            </button>
        </div>
    </div>
    <div class="flux d-flex flex-column align-items-center">
        {% for item in flux %}
            {% if item.type == "ticket" %}
                <div class="publication border border-dark rounded p-3 w-50 m-2">  
                    <div class="publication-user d-flex justify-content-between  p-2">
                        <span>{% if item.user == user %}Vous avez demandé une critique{% else %}{{ item.user }} a demandé une critique{% endif %}</span>
                        <span>{{ item.time_created }}</span> 
                    </div>   
                    <div class="publication-content  p-2">
                        <div>{{ item.title }}</div>
                        <div>{{ item.body }}</div>  
                        <div>{{ item.image }}</div>
                    </div>
                    {% if not item.is_associated %}
                        {% comment %} Formulaire qui envoie l'objet dans sont ensemble au lien {% endcomment %}
                        <form action="create" method="post" class="d-flex p-2">
                            {% csrf_token %}
                            <input type="hidden" name="ticket" value="{{ item }}">
                            <button type="submit" class="btn btn-dark">Créer une critique</button>
                        </form>
                    {% endif %}

                </div>
            {% elif item.type == "ticket_critique" %}
                <div class="publication border border-dark rounded p-3 w-50 m-2">
                    <div class="publication-user d-flex justify-content-between p-2">
                        <span>{% if item.user == user %}Vous avez publié une critique{% else %}{{ item.user }} a publié une critique{% endif %}</span>
                        <span>{{ item.time_created }}</span>
                    </div>
                    <div class="publication-rating d-flex  p-2">
                        <span>{{ item.headline }} - {% if item.rating == 1 %} <span class="rating">★☆☆☆☆</span> {% elif item.rating == 2 %} <span class="rating">★★☆☆☆</span> {% elif item.rating == 3 %} <span class="rating">★★★☆☆</span> {% elif item.rating == 4 %} <span class="rating">★★★★☆</span> {% elif item.rating == 5 %} <span class="rating">★★★★★</span> {% endif %}</span>
                    </div>
                    <div class="publication-content border border-dark rounded p-3 m-2">
                        <div>Ticket - {{ item.ticket.user }}</div>
                        <span>{{ item.body }}</span>
                        <div>{{ item.ticket.title }}</div>
                        <div>{{ item.ticket.image }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'LITReview/partials/footer.html' %}
</body>
</html>