<!DOCTYPE html>
<html lang="en">
    {% include 'LITReview/partials/head.html' %}
    <body>
        <main class="container-fluid">
            <div class="container-fluid row" style="justify-content: space-evenly;">
                <div class="inscription m-4 text-center" style="width: 45%;">
                    <h2>Inscrivez-vous maintenant</h2>
                    <a href="{% url 'register' %}" class="text-white p-2 btn btn-dark mt-4 col-12">S'inscrire</a>
                </div>
                <div class="connexion m-4" style="width: 45%;">
                    <h2>Connectez-vous</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <button type="submit" class="btn btn-dark mt-4 col-12">Se connecter</button>
                    </form>
                </div> 
            </div>
        </main>
        {% include 'LITReview/partials/footer.html' %}
    </body>
</html>