<!DOCTYPE html>
<html lang="fr">
    {% include 'LITReview/partials/head.html' %}
    <body>
        {% include 'LITReview/partials/header.html' %}
        <main>
                <div class="container-fluid row" style="justify-content: space-evenly; margin-block: 5%;">
            <!-- Bouton demander une critique -->
            <div class="demande">
                <button type="button" class="btn btn-dark">
                    <a href="{% url 'demande_ticket' %}" class="text-white">Demande de ticket</a>
                </button>
            </div>
            <!-- Bouton proposer une critique -->
            <div class="proposition">
                <button type="button" class="btn btn-dark">
                    <a href="{% url 'demande_critique' %}" class="text-white">Demande de critique</a>
                </button>
            </div>
        </div>
        <div class="posts">
        </div>
        </main>
        {% include 'LITReview/partials/footer.html' %}
    </body>
</html>