<!DOCTYPE html>
<html lang="fr">
    {% include 'LITReview/partials/head.html' %}
    <body>
        {% include 'LITReview/partials/header.html' %}
        <main>
            <div class="container">
                <h2 class="text-center m-4">Proposer une critique</h2>
                <div class="inscription">
                    <form method="post" action="">
                        {% csrf_token %}
                        <h3>Livre / Article</h3>
                        {{proposer_critique_form.as_p}}
                        <h3>Critique</h3>
                        {{proposer_review_form.as_p}}
                        <input type="submit" value="Envoyer" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </main>
        {% include 'LITReview/partials/footer.html' %}
    </body>
</html>
