<!DOCTYPE html>
<html lang="fr">
    {% include 'LITReview/partials/head.html' %}
    <body>
        <main>
            <h2 class="text-center m-4">Inscrivez-vous</h2>
            <div class="container">
                <div class="inscription">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ registration_form.as_p }}
                        <div class="row" style="justify-content: space-evenly">
                            <a href="{% url 'index' %}" class="btn btn-dark text-white" style="width: 48%">Retour</a>
                            <button type="submit" class="btn btn-dark" style="width: 48%">S'inscrire</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        {% include 'LITReview/partials/footer.html' %}
    </body>
</html>